body {
    margin: 0; 
    padding: 0; 
    font-size: 16px; 
}

header {
    border-bottom: solid black 1px; 
    width: 100%; 
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}


header h1 {
    margin-left: 1em;
}

header ul {
    margin-right: 1em;
}

header li {
    display: inline-flex; 
    margin-left: 1em; 
    margin-right: 1em; 
}

.image-text-section {
    display: inline-flex;
    justify-content: space-around; /* try space around later */
    width: 60%; 
    align-items: center;
    margin: 8em auto; 
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}

.projects {
    display: flex; 
    flex-direction: column; 
    text-align: center;
}

.project-boxes {
    display: inline-flex; 
    justify-content: space-around; 
}

.project-box {
    max-width: 24em; 
}

.project-desc-heading {
    font-weight: bold; 
}

#github-link {
    margin: 4rem; 
    border: black solid 1px; 
    width: 12em; 
    padding: 2em; 
    align-self: center;
}

.image {
    max-width: 24rem; 
    height: auto; 
}

footer {
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    padding: 2em; 
}