
body {
    margin: 0; 
    padding: 0; 
    font-size: 16px; 
    font-family: "Montserrat", sans-serif; 
}

p {
    color: #666; 
}

/* Styles for header section */

header {
    border-bottom: solid black 1px; 
    width: 100%; 
    display: inline-flex; 
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    z-index: 10; 
    background-color: white; 
    top: 0; 
    height: 5em; 
}

header h1 {
    font-family: "Oswald", sans-serif; 
    margin: 0 1em; 
}

header ul {
    margin: 0 1em; 
}

header li {
    display: inline-flex; 
    margin: 0 1em; 
    text-decoration: underline; 
    color: black; 
}

header li:hover {
    text-decoration: none; 
}

/* Sections for "About Me" and "Skills" */

.image-text-section {
    display: inline-flex;
    justify-content: space-around; 
    width: 60%; 
    align-items: center;
    padding: 8em; 
    position: relative; 
    left: 50%;
    transform: translateX(-50%); 
}

.image-text-section ul {
    list-style: '▸';
}

/* .image-text-section ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

.image-text-section li::before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
} */

/* About me section */ 

.about-me {
    margin-top: 6em; 
    border-bottom: solid 1px black; 
}

/* Projects section */

.projects {
    display: flex; 
    flex-direction: column; 
    text-align: center;
}

.project-boxes {
    display: inline-flex; 
    justify-content: space-around; 
}

.project-box {
    display: flex; 
    flex-direction: column; 
}

.project-box p {
    width: 100%; 
    max-width: 24rem; 
    word-wrap: break-word; 
}

.project-desc-heading {
    font-weight: bold; 
}

.link-button {
    font-size: 1.2rem; 
    margin: 4rem; 
    border-radius: 0.5em; 
    width: 12em; 
    padding: 2em; 
    align-self: center; 
    text-decoration: none; 
    color: white; 
    background-color: black;
}

/* Contact Me section, footer */

footer {
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    padding: 2em; 
}

/* Dropdown styling */

.dropdown-content {
    color: #666;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.5;
}

.dropdown {
    cursor: pointer;
    position: relative;
    padding: 0.5em 0;
}

.dropdown::after {
    font-size: 0.8em;
    margin-left: 0.5em;
    transition: transform 0.3s ease;
}

.dropdown.active::after {
    transform: rotate(180deg); 
}

/* Determines size for images with .image class across the entire site to keep sizing consistent */ 

.image {
    max-width: 24rem; 
    height: auto; 
}

/* Media query for phones */ 

@media only screen and (max-width: 480px) {

    header {
        flex-direction: column; 
        height: auto; 
        padding: 1em 0; 
        margin: 0; 
        width: 100%; 
    }

    header h1 {
        font-size: 1.75rem; 
        margin: 0.25em; 
        padding: 0; 
    }

    header ul {
        margin: 0; 
        padding: 0; 
    }

    header li {
        margin: 0; 
        margin: 0 0.5em; 
    }

    .image-text-section {
        display: flex; 
        flex-direction: column;
        text-align: center; 
        justify-content: center; 
        width: 100%; 
        align-items: center;
        padding: 0; 
        position: relative; 
        transform: none; 
        left: 0; 
        padding: 4em 0; 
    }

    .image-text-section ul {
        margin: 0;
        padding: 0;
        list-style: none; 
        list-style: '▸'; 
    }
    
    .image-text-section li::before { 
        content: none;
        border-color: transparent #111;
        border-style: solid;
        border-width: 0;
        display: block;
        left: 0;
        top: 0;
        position: relative;
    }

    .skills {
        margin-bottom: 4em; 
        border-bottom: solid black 1px; 
    }

    .skills h2 {
        margin-top: 4em; 
    }

    .projects {
        padding-top: 2em; 
    }

    .project-boxes {
        display: flex; 
        flex-direction: column; 
    }

    .content-container {
        width: 100%; 
    }

    .dropdown-content {
        max-width: 80%; 
    }

    .dropdown li {
        content: '▸';
    }

    .dropdown-h3 {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }

}
